body
  background: #F7F5FA
  font-family: 'DIN Pro'



//header

.header
  background: #fff
  padding: 165px 0 125px

  &_inner
    max-width: 760px
    margin: 0 auto
    text-align: center

    h1
      font-size: 48px
      line-height: 54px
      color: #222
      font-weight: normal

    h3
      font-family: 'Roboto', sans-serif
      font-size: 16px
      line-height: 26px
      color: #4A4556
      font-weight: normal
      margin: 24px 0 30px

      span
        font-weight: bold
        color: #F47821

    a
      position: relative
      color: #222
      text-transform: uppercase
      font-family: 'Gilroy'
      font-size: 16px
      text-decoration: none
      font-weight: bold
      line-height: 54px

      span
        position: absolute
        background: rgba(#878787, 0.05)
        border-radius: 50%
        left: - 46px
        width: 54px
        height: 54px
        display: flex
        align-items: center
        justify-content: center

        img
          width: 20px
          height: 20px


// block tips

.tips
  padding-bottom: 20px

  img
    height: 600px
    width: 100%
    object-fit: cover
    object-position: center

  &_items
    margin: 0 auto
    position: relative
    top: -100px
    max-width: 972px
    display: flex
    flex-wrap: wrap
    justify-content: center

    div
      width: 50%
      height: 232px
      padding: 50px 70px 60px 60px
      border: 1px solid #EDEDED
      background-color: #FFF
      box-sizing: border-box

      h4
        font-size: 12px
        color: #F47821
        text-transform: uppercase
        font-weight: bold
        margin-bottom: 12px

      p
        font-size: 24px
        line-height: 30px
        color: #222

//block similar

.similar
  background: #fff
  padding: 80px 0 100px

  &_inner
    padding: 0 15px
    max-width: 773px
    margin: 0 auto

    h3
      font-size: 48px
      color: #222
      text-align: center
      font-weight: normal

    p
      margin-top: 24px
      color: #4E4D53
      font-size: 16px
      line-height: 26px
      font-family: 'Roboto', sans-serif

//block advantages

.advantages
  max-width: 1140px
  margin: 0 auto
  padding: 120px 0
  color: #000

  h2
    font-size: 40px
    text-align: center
    font-weight: normal
    margin-bottom: 60px

  .advantages_items
    display: flex
    align-items: flex-start
    justify-content: space-between
    flex-wrap: wrap

    div
      width: 345px
      padding: 0 10px
      margin-bottom: 40px

      img
        width: 52px
        height: 52px
        object-fit: contain
        object-position: center

      h4
        position: relative
        font-size: 20px
        font-weight: bold
        margin: 30px 0 50px

        &::after
          position: absolute
          content: ''
          height: 2px
          width: 24px
          background: #F47821
          margin-top: 22px
          top: 22px
          left: 0

      p
        font-family: 'Roboto', sans-serif
        font-size: 16px
        line-height: 26px
        color: #4E4D53

// block form

.form
  background: #161616
  padding-top: 100px
  padding-bottom: 120px

  h3
    margin-bottom: 60px
    text-align: center
    font-size: 40px
    color: #FFF
    font-weight: normal

  form
    max-width: 575px
    padding: 0 15px
    margin: 0 auto

    label
      font-size: 16px
      line-height: 25px
      color: #FFF
      font-weight: bold
      margin: 65px 0 24px
      display: block
      position: relative

      span
        position: absolute
        display: flex
        align-items: center
        justify-content: center
        font-family: 'Roboto', sans-serif
        font-weight: 500
        font-size: 20px
        color: #F47821
        left: -92px
        top: -20px
        width: 64px
        height: 64px
        border: 1px solid rgba(#FFF, .23)
        border-radius: 50%

    .form_filed
      width: 100%
      background-color: transparent
      border: none
      border-bottom: 2px solid rgba(#F7F8FA, .1)
      resize: vertical
      color: #FFFFFF
      font-family: 'Roboto', sans-serif
      font-size: 24px
      line-height: 35px
      padding-bottom: 12px
      transition: 0.3s
      cursor: pointer

      &:active, &:focus
        transition: 0.3s
        border-bottom-color: rgba(#F47821, .7)

    .form_submit
      background: #FFF
      border-radius: 30px
      font-family: 'Gilroy'
      font-size: 14px
      color: #F47821
      text-transform: uppercase
      width: 100%
      border: none
      margin-top: 60px
      padding: 20px 0 16px
      cursor: pointer
      transition: 0.3s

      &:hover
        transition: 0.3s
        background: rgba(#fff, .8)


@media (max-width: 1100px)

  .advantages
    .advantages_items
      justify-content: space-around
      flex-wrap: wrap

  .tips_items div
    width: 90%

@media (max-width: 768px)

  .header
    padding: 100px 0 65px

  .tips
    padding-bottom: 0

  .tips_items div
    width: 96%

  .similar
    padding: 40px 0 50px

  .advantages
    padding: 60px 0
    color: #000


  .form
    padding-top: 60px
    padding-bottom: 80px

    form label
      padding-left: 50px

      span
        font-size: 16px
        left: 0
        top: -10px
        width: 40px
        height: 40px
